<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JAX_WSClient/src/com/trining/async/clients/MyAsyncClient.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.trining.async.clients.MyAsyncClient"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JAX_WSClient"/>
</launchConfiguration>
